@model IEnumerable<ST10298613_PROG6212_POE.Models.Claim>

<h1>Admin Dashboard</h1>

<h1>Admin Dashboard</h1>
<a asp-controller="Admin" asp-action="ManageLecturers" class="btn btn-primary">Manage Lecturers</a>
<a asp-controller="Admin" asp-action="ReviewClaim" class="btn btn-warning">Review Claims</a>