@{
    ViewData["Title"] = "About CMCS";
}

<h1>About the Contract Monthly Claim System</h1>


<p>
    The Contract Monthly Claim System (CMCS) is a user-friendly platform that enables Independent Contractor (IC) lecturers to submit their claims online and facilitates efficient approval by the administration.
    It automates claim submissions, reviews, and approvals, ensuring transparency, accuracy, and accountability.
</p>

